# DECİSİON TREE Classification - KARAR AĞAÇLARI

Akış diyagramı barındırırlar bu diyagramlarla karar verirler.  
Yapraklar vardır.Yapraklar kullnaılarak sonuca gidilir.  
Koordinat ekseninde leafler oluşur.Bu leaflerin her biri sınıflandırmada ayrı bir sınıftır.Model oluşturma işlemi bittiğinde yeni bir kişinin ürünü alıp almayacağı karar verilirken yeni gelen verinin hangi leafte olduğuna karar veirir ve buna göre sonuç döndürür...

### Örneğin :  x ekseninde öğrenci olanlar sağda olmayanlar solda , y ekseninde gelir yüksek olanlar üst y de alçak olanlar y eknseinin alt tarafında olması gibi düşünebiliriz.

#### Kullanım alanları : ık cılar cv değerlendirmede kullanır.olumluysa ık cının önüne düşer.

In [24]:
import numpy as np 
import pandas as pd 
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [25]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [26]:
print(df.isnull().sum())
#eksik değer var mı ?

Deneyim Yili               0
SuanCalisiyor?             0
Eski Calistigi Firmalar    0
Egitim Seviyesi            0
Top10 Universite?          0
StajBizdeYaptimi?          0
IseAlindi                  0
dtype: int64

scikit-learn kütüphanesi decision tree'lerin düizgün çalışması için herşeyin rakamisal olmasını bekliyor bu nedenle veri setimizdeki tüm Y ve N degerlerini O ve 1 olarak düzeltlyoruz. Aynı sebeple eğitim sevlyesini de BS:0 MS:1 ve PhD:2 olarak güncelllyoruz. map() kullanarak boş hücreler veya geçersiz değer girilen hücreler NaN ile dolurulacaktır, buna şuandaki veri setimizde ihtiyacıkız yok ama sizin ilerde yoğun veri icin çalıştığınız zaman ihtiyacınız olacaktır.

In [27]:
# SAYISAL OLMALI TÜM VERİLER .....decision tree için...

duzeltme_mapping = {'Y': 1, 'N': 0}
df['IseAlindi'] = df['IseAlindi'].map(duzeltme_mapping)

df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(duzeltme_mapping)
df['Top10 Universite?'] = df['Top10 Universite?'].map(duzeltme_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(duzeltme_mapping)

duzeltme_mapping_egitim = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [28]:
y = df['IseAlindi']
x = df.drop(['IseAlindi'],axis = 1)

In [29]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [31]:
import warnings
warnings.filterwarnings('ignore')

In [32]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

# tahmin yapalım.
# 5 yıl deneyimli ,halihazırda bir yerde çalışan,3 eski şirkette çalışmış,lisans seviyesi
print(clf.predict([[5,1,3,0,0,0]]))

[1]

In [33]:
# 2 yıllık iş deneyimi,7 kez iş değiştirmiş,çok iyi bir okul mezunu,şuan çalışmıyor.
print(clf.predict([[2,0,7,0,1,0]]))

[0]

In [35]:
#toplam 2 yıllık iş deneyimi,7 kez iş değiştirmiş,çok iyi okul ,şuan çalışıyor.
print(clf.predict([[2,1,7,0,0,0]]))

[1]

In [34]:
#toplam 20 yıl deneyim,5 kez iş değiştirmiş,iyi okul,şuan çalışmıyor.
print(clf.predict([[20,0,5,1,1,1]]))

[1]